<div class="container">
  <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

      <router-outlet></router-outlet>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="well">
        <button type="button" class="btn btn-primary" (click)="addNew()">جدید</button>
        <hr>


        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="width: 20%">ردیف</th>
              <th style="width: 50%">عنوان</th>
              <th style="width: 30%">عملیات</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of ProductDetailsKinds;let i = index">
              <td>{{i+1}}</td>
              <td>{{user.title}}</td>
              

              <td><a (click)="onEdit(user._id)"><span class="glyphicon  glyphicon-edit"
                    style="color: green;cursor: pointer;font-size: 18px" title="ویرایش">
                  </span></a>
                  <a (click)="removeProductDetails(user._id)"><span class="glyphicon glyphicon-remove"
                    style="color: red;cursor: pointer;font-size: 18px" title="ویرایش">
                  </span></a>
                 </td>

            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>
