<div class="container">

  <!-- <div class="row">
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7"></div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <app-product-technology></app-product-technology>

    </div>



  </div> -->
  
  
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <app-product-banner></app-product-banner>

    </div>



  </div>
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <app-product-feature></app-product-feature>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <app-revision></app-revision>
    </div>
  </div>
 <!-- <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <app-product-educational-source></app-product-educational-source>

    </div>



  </div> -->
  <!-- <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <app-product-advantage></app-product-advantage>

    </div>



  </div> -->
</div>
