<div class="header w-100 m-0">
    <div class="container">
        <div class="row justify-content-center align-items-center company">
            <div class="col-6 company-left">
                <div class="row align-company justify-content-start">
                    <p class="company-right-item">
                        {{HeaderMessage}}
                    </p>
                    <p class="company-right-item">
                            <i class=" phone fas fa-phone-volume"></i>تماس با ما:{{tel}}
                    </p>
                    
                </div>
            </div>
            <div class="col-6 company-right">
                <div class="row align-company justify-content-end">

                        <p class="company-right-item">
                                <a class="link" href="#"> علاقه مندی ها <i class="fas fa-heart"></i></a>
                        </p>
                        <p class="company-right-item">
                                <a class="link" href="#">
                                     حساب من
                                     <i class="fas fa-user"></i>
                                     <mat-list class="animated bounceIn">
                                            <mat-list-item *ngIf="logged==false" >
                                                <p  class="pointer" (click)="open()">ورود</p>
                                            </mat-list-item>

                                            <mat-list-item *ngIf="logged==true">
                                                    <p (click)="close()">خروج</p>
                                            </mat-list-item>
                                    </mat-list>

                                    
                                </a>
                        </p>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>