.card-header{
    min-height: 40px;
}
.profile-image{
  width: 160px;
  height: 160px;
  object-fit: contain;
  border: solid 1px #4f5d75;
}
.clock-icon{
    margin-top: 2px;
}
.clickable-orange{
  color:var(--clickable-orange);
}
.skill-height{
  height:30.2px;
}
.blacked{
  color: black !important;
  border-color:black !important;
}
.profile-card{
    min-height: 400px;
}
.my-skills{
    border: solid 1px #ffffff;
    border-radius: 7px !important;
    font-weight: normal !important;
}
.card-image{
    border: solid 8px #ffffff;
}
.card-image-footer{
    height: 42px;
    margin-top: -42px;
    transition: height 0.2s ease-in;
}
.cards-sample:hover > .card-image-footer{
    display: block !important;
    padding: 0px 15px 0px 15px;
}
.general-card{
  border: solid 1px #c3c3c3;
}
.general-card-desc{
  white-space: pre-line;
}
.job-card{
    border: solid 1px #e1e1e1;
  }
  .job-description{
    white-space: pre-line;
    height: 25.5px;
  }
  .skills-job{
      flex-wrap: wrap;
      background-color: #d3d3d9;
      letter-spacing: .05rem;
      color: #444;
      transition: .3s;
      margin: .1rem .3rem .1rem 0;
      padding: .08rem .45rem;
      height: 27px;
      line-height: 27px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      outline: 0;
  }
  .my-close-holder{
    position: absolute;
    top: 10px;
    right: 0px;
    width: 45px;
    padding-bottom: 120px;
    height: 100%;
  }
  .my-close{
    background-color: #c3c3c3;
    top: 170px;
    right: 0px;
    width: 45px;
    height: 39px;
    line-height: 2;
  }
  
  .my-close:hover {
    cursor: pointer;
  }
  .filedownload{
    color: #48c9f0;
  }
  
  .filedownload-clip{
    color: #48c9f0;
    line-height: 1.5;
  }