.header{
    height: 51.5px;
    border-bottom: grey solid 1px;
}
.title{
    margin-top: -22px;
    height: 20px
}
.my-img{
    height: auto;
    width: 100%;
    object-fit: contain;
}
.download{
    height: 49px;
    line-height: 2.75;
}
.mat-dialog-content{
    overflow: visible !important;
}