<div class="w-100 h-100 bg-light">
    <div class="container">
        <div class="wrapper align-items-center d-flex flex-column justify-content-center w-100 vp-height bg-light">
            <div class="row bg-light br-10 position-relative p-0 text-center bg-fa w-90-p" id="formContent">
                <div class="col-md-8 d-none d-lg-block d-md-block align-self-center">
                    <img src="../../assets/images/freelancer-landing.png" alt="Login" title="Login" class="w-100 vp-height side-img">
                </div>
                <div class="col-md-4 align-self-center">
                    <h1 class="row justify-content-center normal-txt mb-3 fs-22 b-900 font-italic text-center semi-dark-color">
                        Are you a freelancer? 
                    </h1>
                    <h2 class="row justify-content-center fs-16 normal-txt text-center mb-37 semi-dark-color">
                        Did you know:<br/>
                        We offer you competitive commission fees<br/>
                        20 monthly free bids, along with an easy to use platform to bid on projects and collaborate with your clients?<br/><br/>

                        Join us now and make your freelancing experience a blast!
                    </h2>
                    <input (click)="login()" type="submit" class="fourth btn-width" value="Get started">
                </div>
            </div>
        </div>
    </div>
</div>