<div class="container">

    <div class="row mt-3 justify-content-center">

        <div class="col-md-4 mb-3" *ngIf="user?.role === 'freelancer' && !projectId">
            <div class="p-lancer-color col-md-12">
                <div name="bidsStatusModel">
                    <div (click)="onChangeBidsStatusModel(type)" class="row no-margin bidsStatusModel"
                         style="justify-content: space-between;cursor: pointer;" *ngFor="let type of bidsStatus">
                        <div class="row" style="margin: 0px;" [class.active]="status == type">
                            <i class="far fa-clock align-self-center"
                               style="font-family: FontAwesome;font-style: normal;margin-left: 2px;"></i>
                            <div class="align-self-center" [class.active]="status == type" style="margin-left: 20px">
                                {{ type | titlecase }}
                            </div>
                        </div>
                        <div *ngIf="status == type">
                            <i class="fa fa-chevron-right align-self-center" style="color:var(--clickable-orange);"
                               aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-xs-12">
            <div class="job-card col-md-12 row" [class.hover_hint]="firstTime"
                 style="margin-bottom: 15px;
                display: flex;
                justify-content: center;
                margin-left: 0px;
                margin-right: 0px;" *ngIf="!bids || bids.length == 0">
                <div style="height:0px; width:100%" [id]="projectId"></div>
                <div class="col-md-12" style="padding-left: 30px;padding-right: 30px;">
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="row">
                            <div class="job-card-title col-md-8" style="padding: 0px;">
                                No bids here !
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="user && user.role == 'freelancer'">
                <div class="job-card br-10 bg-white row mx-0 mb-3" [ngClass]="{'hover_hint': firstTime}" *ngFor="let bid of bids"
                    (click)="getMilestoneOnBid(bid.bid_id);collapse(bid.bid_id);">
                <div  class="no-height w-100" [id]="bid.bid_id"></div>
                <div class="col-md-12 px-30">
                    <span [ngClass]="{
                        'bid_status_accepted': bid.status == 'accepted' || bid.status == 'modified' ,
                        'bid_status_pending': bid.status == 'pending',
                        'bid_status_declined': bid.status == 'declined'
                        }">
                        {{bid.status}}
                    </span>
                    <div class="my-close-holder position-absolute h-100 pb-170">
                        <div class="my-close-holder position-absolute h-100 pb-170 t-0">
                            <div class="dropdown position-relative d-inline-block position-sticky r-0 w-45 h-39 clickable z-971 t-83">
                                <div class="my-bookmark bookmark-width bg-clickable-orange position-sticky justify-content-center d-flex align-self-center clickable lh-2 fs-20 color-white br-l-10 z-970" (document:click)="closeDropDown(bid.bid_id)" aria-hidden="true" (click)="$event.stopPropagation(); openDropDown(bid.bid_id);" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h align-self-center fs-20"></i>
                                </div>
                                <div class="dropdown-content position-absolute my-d-none bg-f9 overflow-hidden br-b-10 z-970" [id]="'dropdown-content'+bid.bid_id">
                                    <a *ngIf="bid.projects_post_status !='created'"
                                        [routerLink]="'/panel/workdiary/'+bid.projects_project_id">Workdiary</a>
                                    <a [routerLink]="'/projects/'+bid.projects_project_id" style="text-decoration: none;">View Project</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="my-close-holder position-absolute h-100 pt-48">
                        <div *ngIf="collapsed[bid.bid_id]" class="my-close position-sticky d-flex justify-content-center align-self-center clickable fs-20 color-white br-l-10 z-970"
                                (click)="closeAll(bid.bid_id); $event.stopPropagation();">
                            <i class="fa fa-times fs-20 align-self-center"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <div class="row">
                            <h2 class="job-card-title fs-17 normal-txt font-weight-bold text-left color-black overflow-hidden col-md-8 p-0">
                                {{bid.projects_title}}
                            </h2>
                            <div class="job-title-duration fs-17 normal-txt text-left color-70 ml-2 col-md-3 p-0">
                                ${{bid.budget}}
                                {{' in ' +bid.bid_duration}} Days
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-2">
                        <h3 class="job-description fs-17 normal-txt mt-2 text-left overflow-hidden color-black"
                                [ngClass]="{'description_full': collapsed[bid.bid_id],'description_hide':!collapsed[bid.bid_id]}">
                            {{bid.description}}
                        </h3>
                    </div>
                    <div class="col-md-12 row skill-margin mb-4 overflow-hidden p-0"
                            [ngClass]="{'skills-full': collapsed[bid.bid_id],'skills-hide':!collapsed[bid.bid_id]}">
                        <h3 [ngClass]="{'single-skill-full': collapsed[bid.bid_id],'single-skill-hide':!collapsed[bid.bid_id]}" class="skills mt-2 d-flex flex-row br-7 fs-16 b-400 lh-27 overflow-hidden" *ngFor="let projectskill of bid.project_skills">
                            {{projectskill.value}}
                        </h3>
                    </div>
                    <div *ngIf="collapsed[bid.bid_id] && bid.project_files && bid.project_files.length != 0"
                            class="row col-md-12 mb-5">
                        <div *ngFor="let file of bid.project_files" class="clickable col-md-12 row filedownload fs-17 normal-txt b-600 text-left"
                                (click)="newWindowOpen(uploadUrl + file.urlPath);">
                            <i class="fa fa-paperclip filedownload-clip fs-17 normal-txt b-600 text-left mr-1" aria-hidden="true"></i>
                            <div class="filedownload fs-17 normal-txt b-600 text-left">{{file.filename}}</div>
                        </div>
                    </div>
                    <div *ngIf="collapsed[bid.bid_id]" style="margin-bottom: 20px" class="col-md-12 justify-content-end">
                        <div class="row">
                            <div class="col-md-12" class="aboutem" style="margin-bottom: 7px;">
                                About {{bid.last_name}} :
                            </div>
                            <div class="col-md-2">
                                <div class="rate fs-17 normal-txt text-left color-black"><i class="fa fa-star rate-star fs-17 normal-txt text-left clickable-orange lh-1-46 mr-1"
                                    aria-hidden="true"></i>{{bid.rate ? bid.rate : 'N/A'}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="rate"><i class="fa fa-flag my-flag" style="margin-right: 5px;" aria-hidden="true"></i>
                                    {{bid.country}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="rate" style="color: #0fdf89;">
                                    <div *ngIf="bid.payment_status == 1" class="rate fs-17 normal-txt text-left clickable-orange">
                                        <i class="fa fa-credit-card my-credit-card fs-17 normal-txt b-600 text-left lh-1-29 mr-1"
                                            aria-hidden="true"></i>Verified
                                    </div>
                                    <div *ngIf="bid.payment_status == 0" class="rate fs-17 normal-txt text-left color-black color-0f">
                                        <i class="fa fa-credit-card my-credit-card fs-17 normal-txt b-600 text-left lh-1-29 mr-1 color-black"
                                            aria-hidden="true"></i>Not verified
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div *ngIf="collapsed[bid.bid_id]"
                        class="col-md-12 justify-content-end mb-4">
                        <div class="row milestoneList">
                            <div class="col-md-4 col-sm-4">Milestones</div>
                            <div class="col-md-4 col-sm-4 d-lg-block d-md-block d-sm-block d-none">Duration</div>
                            <div class="col-md-4 col-sm-4 d-lg-block d-md-block d-sm-block d-none">Budget</div>
                        </div>
                        <div class="row milestoneListItem" *ngFor="let milestone of dataSource;let i = index;">
                            <div class="col-md-4 col-sm-4">
                                {{milestone.milestone_description}}
                            </div>
                            <div class="col-md-4 col-sm-4">
                                {{milestone.milestone_duration}} days
                            </div>
                            <div class="col-md-4 col-sm-4">
                                {{milestone.budget}}$
                            </div>
                            <div *ngIf="i != (dataSource.length - 1)" class="d-lg-none d-md-none d-sm-none d-block col-12 divider mt-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="user && user?.role == 'employer'">
            <div class="job-card br-10 bg-white row mb-3 mx-0" (click)="getMilestoneOnBid(bid.bid_id);collapse(bid.bid_id);" [ngClass]="{'hover_hint': firstTime}" (click)="job-card-select" *ngFor="let bid of bids" >
                <div class="no-height w-100" [id]="bid.bid_id" ></div>
                <div class="col-md-12 px-30">
                <div class="my-close-holder position-absolute h-100 pb-170">
                        <div class="my-close-holder position-absolute h-100 pb-170 t-0">
                            <div class="dropdown position-relative d-inline-block position-sticky r-0 w-45 h-39 clickable z-971 t-83">
                                <div class="my-bookmark bookmark-width bg-clickable-orange position-sticky justify-content-center d-flex align-self-center clickable lh-2 fs-20 color-white br-l-10 z-970" (document:click)="closeDropDown(bid.bid_id)" aria-hidden="true" (click)="$event.stopPropagation(); openDropDown(bid.bid_id);" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h align-self-center fs-20"></i>
                                </div>
                                <div class="dropdown-content position-absolute my-d-none bg-f9 overflow-hidden br-b-10 z-970" [id]="'dropdown-content'+bid.bid_id">
                                        <a [routerLink]="'/profile/'+bid.freelancer_id" style="text-decoration: none;">Freelancer
                                            profile</a>
                                        <a>
                                            <app-checkout *ngIf="bid.status!='accepted'"
                                                            [amount]="bid.budget * 100"
                                                            (changes)="AcceptBid($event)"
                                                            [initData]="bid"
                                                            [description]="'Pay to Perfectlancer escrow account'">
                                                Hire
                                            </app-checkout>
                                        </a>
                                        <a (click)="LIVECHAT_SESSION(bid,'chat')">Chat</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="my-close-holder position-absolute h-100 pt-48">
                        <div *ngIf="collapsed[bid.bid_id]" class="my-close position-sticky d-flex justify-content-center align-self-center clickable fs-20 color-white br-l-10 z-970"
                                (click)="closeAll(bid.bid_id); $event.stopPropagation();">
                            <i class="fa fa-times fs-20 align-self-center"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-md-12 mb-10">
                        <div class="row">
                            <div class="job-card-title fs-17 normal-txt font-weight-bold text-left overflow-hidden color-black col-md-8 p-0">
                                <div class="d-flex flex-row">
                                    <img *ngIf="bid.avatar" [alt]="bid.first_name" [src]="'https://auth.perfectlancer.com/storage/' + bid.avatar" onError="this.src = '../../../assets/default-avatar.png'" class="rounded-circle d-68 mr-1 fit-down" [title]="bid.first_name">
                                    <img *ngIf="!bid.avatar" [alt]="bid.first_name" [src]="'../../../assets/images/default-' + bid.bid_id%12 + '.png'" class="rounded-circle d-68 mr-1 fit-down" [title]="bid.first_name">
                                    <div class="d-flex flex-column">
                                        <h3>{{bid.first_name}} {{bid.last_name}}</h3>
                                        <h4 class="fs-17 normal-txt color-grey"><i class="fas fa-map-marker-alt mr-1" aria-hidden="true"></i>{{bid.country | countryFormat}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="job-title-duration ml-2 col-md-3 p-0 fs-17 normal-txt text-center proposal-color">  
                                ${{bid.budget}} in {{bid.bid_duration}} Days
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mb-2 overflow-hidden" [ngClass]="{'description_full': isCollapsed(bid.bid_id),'description_hide': !isCollapsed(bid.bid_id)}">
                        <h3 class="job-description h-auto fs-17 normal-txt text-left color-black overflow-hidden mt-2">
                            {{bid.description}}
                        </h3>
                    </div>
                    <div class="col-md-12 row skill-margin mb-4 overflow-hidden" [ngClass]="{'skills_full': isCollapsed(bid.bid_id),'skills_hide': !isCollapsed(bid.bid_id)}">
                        <h3 [ngClass]="{'single-skill-full': isCollapsed(bid.bid_id),'single-skill-hide':!isCollapsed(bid.bid_id)}" class="skills mt-2 d-flex flex-row br-7 b-400 fs-16 lh-27" *ngFor="let projectskill of bid.project_skills">
                            {{projectskill.value}}
                        </h3>
                    </div>
                    <div *ngIf="collapsed[bid.bid_id]"
                    class="col-md-12 justify-content-end mb-4">
                    <div class="row milestoneList">
                        <div class="col-md-4 col-sm-4">Milestones</div>
                        <div class="col-md-4 col-sm-4 d-lg-block d-md-block d-sm-block d-none">Duration</div>
                        <div class="col-md-4 col-sm-4 d-lg-block d-md-block d-sm-block d-none">Budget</div>
                    </div>
                    <div class="row milestoneListItem" *ngFor="let milestone of dataSource;let i = index;">
                        <div class="col-md-4 col-sm-4">
                            {{milestone.milestone_description}}
                        </div>
                        <div class="col-md-4 col-sm-4">
                            {{milestone.milestone_duration}} days
                        </div>
                        <div class="col-md-4 col-sm-4">
                            {{milestone.budget}}$
                        </div>
                        <div *ngIf="i != (dataSource.length - 1)" class="d-lg-none d-md-none d-sm-none d-block col-12 divider mt-3"></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
            <div class="row col-md-12"
                 *ngIf="bids?.length > 0"
                 style="margin-left: 0px;padding: 0px;background-color: transparent !important;border-top-left-radius: 10px;border-top-right-radius: 10px;">

                <app-pagination class="w-100"
                [pageSize]="30"
                [pageIndex]="pagination.offset"
                [length]="30"
                (changes)="pagination.offset = $event.data;getBids();"></app-pagination>
            </div>

        </div>

    </div>

</div>

<app-add-card #addCard (changes)="onOpenChatClick($event)"
              [forceAdd]="true"
              title="Add Card"></app-add-card>