<div class="well">
  <div style="width: 80%;" class="row">

   

    <div class="col-12">

      <!-- <a (click)="onNavigate()" class="close" data-dismiss="alert" aria-label="close" style="font-size: 35px;padding-top:0px">&times;</a> -->
      <h4>نقد و بررسی</h4>
      <hr>
      <div class="row">
        <div class="col-xs-12">
         

            <div class="row">
              <div class="col-xs-12">
                <button (click)="submitRevision()" class="btn btn-success">ذخیره</button>&nbsp;

              </div>
            </div>
            <br>
            
            
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">

                  <input type="text" [(ngModel)]="mainTitle" id="mainTitle"class="form-control"
                    placeholder="سرفصل">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <textarea  type="text" [(ngModel)]="description" id="description"class="form-control"
                  placeholder="توضیحات سرفصل" ></textarea>
                </div>
              </div>
            </div>
            
            



            <div class="arrayArea">

              <div class="row">
                <div class="col-xs-12">
                  <button (click)="submitDetail()" class="btn btn-success">ذخیره</button>&nbsp;
              

                </div>
              </div>
              <br>
                
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">

                      <input type="text" [(ngModel)]="title" id="mainTitle" class="form-control"
                        placeholder="سرفصل نقد و بررسی">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <textarea  type="text" [(ngModel)]="desc" id="description" class="form-control"
                      placeholder="توضیح نقد و بررسی" ></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="fileType"> عکس مورد نظر خود را انتخاب کنید </label>
                      <input type="file" id="fileType" class="form-control"  (change)="onUploadimage($event.target.files)" >
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <table class="table  ">
                      <thead>
                        <tr>
                          <th style="width: 5%">ردیف</th>
                          <th style="width: 40%">عنوان</th>
                          <th style="width: 5%">عملیات</th>
          
          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let detail of  details;let i = index">
                          <td>{{i+1}}</td>
                          <td>{{detail.title}}</td>

                          <td> <a (click)="removeDetail(detail._id)"><span class="glyphicon glyphicon-remove"
                            style="color: red;cursor: pointer;font-size: 18px">
                          </span></a>
                          
                           </td>
          
                              
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

            </div>

        </div>

      </div>

      

      
    </div>
  </div>
</div>
