@import "../../../../assets/scss/utility/utility.scss";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.header{
    background-color:darken($color-light,15);
    height: 100px;
    margin-bottom: 30px;
    width: 100%;
    margin: 0;
}
.HoverShadow{
    &:hover{
        text-shadow: 0px 0px 1px $color-theme-primary;

    }
}
.preview{
    background-color: $color-light;
}
.bottom{
  height: 300px;
}
.prices{
  align-self: center;
}
.h-100{
    height: 100% !important;
}
.color-default{
    color:darken($color: $color-theme-secondary, $amount: 50)
  }
  .text-end{
    text-align: end;
  }
  .text-start{
    text-align: start;
  }
  .pointer{
    text-decoration:none;
    cursor: pointer;
  }
  .w-fit{
    width: fit-content;
  }
.figure-2{
    border: solid 1px #8080808c;
    border-radius: 4px;
    box-shadow: inset 0px 0px 11px 2px rgba(0, 0, 0, 0.11);
  }
.figure{
    background-color:$color-theme-secondary;
    border-radius: 4px;
    border: solid 1px darken($color-theme-secondary,15);
  }
  .plus,.minus{

    color: darken($color-theme-secondary,45);
    transition: .8 ease all;
    &:hover{
      color: $color-theme-primary;
    }
  }
  .paragraph{
    line-height: 30px;
    font-size: 15px;
  }
  .plusminus{
    font-size: 22px;
  }
  .fw-700{
      font-weight: 700;
  }
  .fw-600{
      font-weight: 600;
  }
  fw-500{
    font-weight: 500;
  }
  .item{
      transition: .8s ease all;
  }
  .fw-700{
      font-weight: 700;
  }

  .darken-primary{
    color:darken($color-theme-primary,15)
  }
.color-primary{
    color: $color-theme-primary;
  }
  .selectedImage{
    height: 100%;
  }
 
  .field{
      border-bottom: 1.9px solid lighten($color-dark,50);
      font-weight: 600;
      padding: 10px;
      &:last-child{
          border: none;
      }
  }
  .h-fit{
    height: fit-content;
  }
  .fs-21{
    font-size: 21px;
  }