<!-- 
<section class="section-form">
    <form class="form">
      
      <div class="form__radio-group">
        <input type="radio" class="form__radio-input" id="firstBank" name="animals">
        <label for="firstBank" class="form__radio-label">
          <span class="form__radio-btn"></span>
            درگاه بانکی بانک پارسیان
        </label>
      </div>
      
      <div class="form__radio-group">
        <input type="radio" class="form__radio-input" id="secondBank" name="animals">
        <label for="secondBank" class="form__radio-label">
          <span class="form__radio-btn"></span>
          درگاه بانکی بانک ملت
        </label>
      </div>
      
      <div class="form__radio-group">
        <input type="radio" class="form__radio-input" id="thirdBank" name="animals">
        <label for="thirdBank" class="form__radio-label">
          <span class="form__radio-btn"></span>
          درگاه بانکی آپ

        </label>
      </div>
      
    </form>
  </section> -->


  <section class="section-form">
    <div class="container figure h-fit">
      <form>

        <label >
          <input type="radio"   name="radio" checked/>
          <span>درگاه بانکی بانک پارسیان</span>
        </label>

        <label >
          <input type="radio"   name="radio" checked/>
          <span>درگاه بانکی بانک ملت</span>
        </label>


        <label >
          <input type="radio"   name="radio" checked/>
          <span>درگاه بانکی آپ</span>
        </label>
        
      </form>
    </div>
  </section>