<div class="footer row justify-content-center ">
    <div class="container row justify-content-between">
        <div class="left row align-items-center">
            <p class="text">
                    <i class="far fa-copyright"></i><span>{{string.pixel}}</span>
            </p>
        </div>
        <div class="right row align-items-center">
            <span class="mark" *ngFor="let item of items">
               <a href="{{item.link}}"><img src="{{item.src}}" alt=""></a> 
            </span>
        </div>
    </div>
</div>