@import "../../../../../assets/scss/utility/utility.scss";

.footer {
  direction: rtl;
  background-color: $color-theme-secondary;

  .bottomside {

    .list-items {
      .header {
        text-align: right;
        color: $color-theme-primary;
        font-size: 1.1em;
        padding-bottom: 15px;
        font-weight: 600;
      }

      .list-item {
        width: fit-content;
        padding: 5px 0;
        direction: ltr;

        .images {
          max-width: 25px;
          max-height: 25px;
          .image{
            width: 100%;
            height: 100%;
          }
        }

        .link {
          color: darken($color-light, 45);
          text-decoration: none;
        }

        .wrapper {
         direction: rtl;
          .line-anim {
            height: 2px;
            width: 0;
            background-color: $color-theme-primary;
            transition: 1s ease all;
          }

        }

        &:hover {
          .wrapper {
            .line-anim {
              width: 100%;
              transition: 1s ease all;
            }
          }
        }

      }
    }

    padding :70px;

    .about {
      text-align: right;

      .image {
        height: 150px;
      }

      .about-company {
        padding: 25px 0;
        color: darken($color-light, 45);
      }

      .socialmedia {
        .items {
          font-size: 1.5rem;
          padding: 10px 15px;
        }
      }
    }

    .storeinformation {
      .symbol {
        height: 100%;
        padding: 5px;
        font-size: 0.9em;
        color: darken($color-light, 45);
      }

      .text {
        color: darken($color-light, 45);
        cursor: default;
        padding: 5px;
        font-size: 13px;
        text-align: start !important;

      }
    }

  }
}

@media only screen and (max-width: 1025px) {
  .footer {
    .topside {
      flex-direction: column;
      align-items: center;

      .title {
        order: 1;
        align-items: center;

        .body {
          display: none;
        }
      }

      .email {
        order: 2;
        border: none;

        .button {
          padding: 15px 10px;
          font-size: .9em;
        }

        .inp {
          font-size: .9em;
        }
      }
    }
  }
}
@media only screen and (max-width:  960px) {
  .categorys{
    width: 50%;
  }
  .whywechoose {
    width: 50%;
  }
  .text{
    font-weight: 600;
    font-size: 12px;
  }
  .storeinformation {
    width: 100%;
    border-top: 1px solid rgb(212, 212, 212);
    padding: 10px;
    margin: 10px;
  }
}
.imagesocial {
  height: 100%;
  max-width: 30px;
}
.links{
  font-size: 13px;
}
.socialmedia {
  height: 30px;
}

.revert {
  direction: rtl !important;
  flex-wrap: nowrap;
}
.pointer{
  cursor: pointer;
}
