<div class="container">

  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

  </div>

  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="productKindForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-success" [disabled]="!productKindForm.valid || !productKindForm.dirty ">ذخیره</button>&nbsp;
              <!-- <button type="button" class="btn btn-danger" (click)="onCancel()">clear</button>&nbsp; -->
              <button type="button" class="btn btn-info" (click)="onBack()">انصراف</button>
            </div>
          </div>
          <hr>

          <div class="well well-lg">



            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="title">عنوان</label>
                  <input type="text" id="title" formControlName="title" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="description">شرح</label>
                  <textarea type="text" id="description" class="form-control" formControlName="description" rows="6"></textarea>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="tags">تگ ها</label>
                  <input type="text" id="link" class="form-control" formControlName="tags">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="productKind">نوع محصول والد</label>
  
                  <select name="fatherProductKind" id="fatherProductKind" class="form-control" formControlName="fatherProductKind">
  
                    <option *ngFor="let k of productKinds" value="{{k._id}}">{{k.title}}</option>
                  </select>
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="logo">انتخاب عکس</label>
                      <input type="file" class="form-control" (change)="onUpload($event.target.files)" accept='image/*'>
                      <input type="text" name="logo" formControlName="logo" hidden>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <img [src]="productKind.logo || imgURL" style="width: auto;height: 300px;" class="img-responsive"
                    *ngIf="productKind.logo || imgURL">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
