@font-face {
    font-family: 'LatoSans';
    src: url('/assets/font/Lato-Sans/Lato-Regular.eot');
    src: url('/assets/font/Lato-Sans/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/Lato-Sans/Lato-Regular.woff') format('woff'),
        url('/assets/font/Lato-Sans/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}