<div class="light-background w-100 h-100">
    <div class="container">
        <div class="wrapper align-items-center d-flex flex-column justify-content-center w-100 vp-height bg-light">
            <div id="formContent" class="row bg-light br-10 position-relative p-0 text-center bg-fa w-90-p">
                <div class="col-md-6 align-self-center">
                    <h1 class="row justify-content-center normal-txt fs-22 b-900 font-italic text-center semi-dark-color">
                        PERFECTLANCER
                    </h1>
                    <h2 class="row justify-content-center fs-20 normal-txt text-center mb-37 semi-dark-color">
                        Discover the worlds top freelancer & projects
                    </h2>
                    <form (submit)="onRequestClick($event)" *ngIf="pageState == 'forgot'">
                        <input autofocus #focusInput type="text"
                            [(ngModel)]="forgotPasswordModel.email"
                            (keypress)="forgotPasswordError.email = ''"
                            class="second" name="username" placeholder="email" id="email" >
                        <div class="errors-holder btn-width m-1 d-inline-block" *ngIf="forgotPasswordError.email">
                            <div class="color-red text-left fs-12">{{ forgotPasswordError.email | titlecase }}</div>
                        </div>
                        <input type="submit" class="fourth btn-width" value="Send" />
                    </form>

                    <form (submit)="onRequestResetPasswordClick()" *ngIf="pageState == 'code'">
                        <input [autocomplete]="false"
                            type="password" class="second" name="password"
                            [(ngModel)]="resetPasswordModel.new_password"
                            (keypress)="resetPasswordError.new_password = ''"
                            placeholder="New password" id="new_password" >
                        <div class="errors-holder btn-width m-1 d-inline-block" *ngIf="resetPasswordError.new_password">
                            <div class="color-red text-left fs-12">{{ resetPasswordError.new_password | titlecase }}</div>
                        </div>
                        <input [autocomplete]="false"
                            type="password" class="second" name="retype_password"
                            [(ngModel)]="resetPasswordModel.retype_password"
                            (keypress)="resetPasswordError.retype_password = ''"
                            placeholder="Confirm new password" id="retype_password" >
                        <div class="errors-holder btn-width m-1 d-inline-block" *ngIf="resetPasswordError.retype_password || (resetPasswordModel.retype_password.length > 0 &&
                            resetPasswordModel.retype_password != resetPasswordModel.new_password)">
                            <div class="color-red text-left fs-12">Passwords doesn't match</div>
                        </div>

                        <input type="submit" id='verify-btn' class="fourth btn-width" value="Submit">
                    </form>

                    <h3 id="formFooter" class="bg-light text-center br-b-10">
                        Not a member yet?
                        <a title="Register now!" routerLink="/register" class="clickable-orange d-inline-block b-400 text-decoration-none">Join Now</a>
                    </h3>

                </div>
                <div class="col-md-6 d-none d-lg-block d-md-block align-self-center">
                    <img src="../../assets/login.png" alt="Forgot password" title="Forgot password" class="w-100 vp-height side-img">
                </div>
            </div>
        </div>
    </div>
</div>