<!-- <div class="best row justify-content-center">
  <div class="container ">
    <div class="header">
      <h1 class="head">
        {{string.bestheader}}
      </h1>
    </div>
    <div class="body row justify-content-between">
      <div class="col1 col-lg-4">
        <div class="item row align-items-center">
          <div class="pic col-6">
            <img src="{{item1.source}}" alt="">
          </div>
          <div class="content col-6 ">
            <div class="stars">
              <span class="star">
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
              </span>
            </div>
            <p class="title">{{item1.title}}</p>
            <p class="price">{{item1.price}}</p>
          </div>
        </div>



        <div class="item row align-items-center">
          <div class="pic col-6">
            <img src="{{item2.source}}" alt="">
          </div>
          <div class="content col-6 ">
            <div class="stars">
              <span class="star">
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
              </span>
            </div>
            <p class="title">{{item2.title}}</p>
            <p class="price">{{item2.price}}</p>
          </div>
        </div>
      </div>


      <div class="col2 col-lg-4 row align-items-center justify-content-center">
        <div class="item-unique">
            <div class="topleft">{{string.topleft}}</div>
            <div class="topright">{{string.topright}}</div>
          <div class="pic col-lg-12">
            <img src="{{item3.source}}" alt="">
          </div>
          <div class="drawer row">
              <span class="items">
                  <a class="link" href="#"><i class="fas fa-shopping-cart"></i></a>
                  <a class="link" href="#"><i class="far fa-heart"></i></a>
                  <a class="link" href="#"><i class="fas fa-search"></i></a>
                  <a class="link" href="#"><i class="fas fa-sync-alt"></i></a>
                </span>
          </div>
          <div class="content col-lg-7 ">
            <div class="stars">
              <span class="star">
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
              </span>
            </div>
            <p class="title">{{item3.title}}</p>
            <p class="price">{{item3.price}}</p>
          </div>
        </div>
      </div>


      <div class="col3 col-lg-4">
        <div class="item row align-items-center">
          
          <div class="pic col-6">
            <img src="{{item4.source}}" alt="">
          </div>
          <div class="content col-6 ">
            <div class="stars">
              <span class="star">
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
              </span>
            </div>
            <p class="title">{{item4.title}}</p>
            <p class="price">{{item4.price}}</p>
          </div>
        </div>



        <div class="item row align-items-center">
          <div class="pic col-6">
            <img src="{{item5.source}}" alt="">
          </div>
          <div class="content col-6 ">
            <div class="stars">
              <span class="star">
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
                <i class="items fas fa-star"></i>
              </span>
            </div>
            <p class="title">{{item5.title}}</p>
            <p class="price">{{item5.price}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
