<div class="container">
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <router-outlet></router-outlet>
    </div>

    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

      <div class="well">
        <p>محصولی که میخواهید برای ان منبع اموزشی تعریف کنید را انتخاب کنید</p>
        <hr>


        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="width: 5%">ردیف</th>
              <th style="width: 25%">عنوان</th>
              <th style="width: 45%">توضیحات</th>
              <th style="width: 25%">عملیات</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products;let i = index">
              <td>{{i+1}}</td>
              <td>{{product.title}}</td>
              <td>{{product.shortDesc}}</td>
              <td>
                <a style="    margin-top: -6px;"(click)="onDetail(product._id)"><span class="glyphicon glyphicon-check"
                    style="color: rgba(43, 48, 63, 0.425);cursor: pointer;font-size: 18px" title="جزییات"> </span></a>
              </td>

            </tr>
          </tbody>
        </table>
      </div>



    </div>
  </div>
