<div class="well">
  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

      <div class="row">
        <div class="col-xs-12">
          <img [src]="banners.image || iconURL" style="width: auto;height:100px;" class="img-rounded img-responsive"
            *ngIf="banners.image || iconURL">
        </div>
      </div>
    </div>

    <div class="col-xs-6">

     
      <h4>بنر ها</h4>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <form [formGroup]="productBannerform" (ngSubmit)="onSubmit()">

            <div class="row">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-success"
                  >ذخیره</button>&nbsp;
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">

                  <input type="text" id="title" formControlName="title" class="form-control" placeholder="عنوان را وارد کنید">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">

                  <textarea type="text" id="desc" class="form-control" formControlName="desc" rows="6" placeholder="شرح را وارد کنید"></textarea>
                </div>
              </div>
            </div>
            

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="fileType"> فایل آموزشی را انتخاب کنید </label>
                  <input type="file" id="fileType" class="form-control"  (change)="onUploadFile($event.target.files)" >
                  <input type="text" name="file" formControlName="file" hidden>

                </div>
              </div>
            </div>
            


          </form>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <table class="table  ">
            <thead>
              <tr>
                <th style="width: 5%">ردیف</th>
                <th style="width: 35%">عنوان</th>
                <th style="width: 45%">توضیحات</th>
                <th style="width: 15%"> جزئیات</th>
                <th></th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of  bannerArray;let i = index">
                <td>{{i+1}}</td>
                <td>{{product.title }}</td>
                <td>{{product.desc }}</td>
                <td> <a (click)="removeProducts(product._id)" class="close" data-dismiss="alert"
                    aria-label="close">&times;</a> </td>
                <td> <a (click)="Edit(product)" class="close" data-dismiss="alert"
                  aria-label="close"><span class="glyphicon glyphicon-edit"
                  style="color: rgba(43, 48, 63, 0.425);cursor: pointer;font-size: 18px" title="جزییات"> </span></a> </td>
              </tr>

              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>