<div class="header">
    <div class="container">
        <div class="row justify-content-center align-items-center company">
            <div class="col-6 company-left">
                <div class="row align-company justify-content-start">
                    <p class="company-right-item">
                        {{strings.welcome}}
                    </p>
                    <p class="company-right-item">
                            <i class=" phone fas fa-phone-volume"></i>{{strings.call}}
                    </p>
                    
                </div>
            </div>
            <div class="col-6 company-right">
                <div class="row align-company justify-content-end">
                        <p class="company-right-item">
                                <a class="link" href="#"> Compare <i class="fas fa-compress-arrows-alt"></i></a>
                        </p>
                        <p class="company-right-item">
                                <a class="link" href="#"> Wishlist <i class="fas fa-heart"></i></a>
                        </p>
                        <p class="company-right-item">
                                <a class="link" href="#">
                                     My account 
                                     <i class="fas fa-user"></i>
                                     <mat-list class="animated bounceIn">
                                        <mat-list-item>
                                                <p>Login</p>
                                        </mat-list-item>
                                        <mat-list-item>
                                                <p>LogOut</p>
                                        </mat-list-item>
                                    </mat-list>
                                </a>
                        </p>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>