<div class="my-3 fs-30 container refactoredstyle"><h1>About Us</h1></div>
            
<div class="container terms-page">
    <div class="row terms-item align-items-center px-4 justify-content-center">

            <p>
                Our story started when after some long conversations, we came to this conclusion that the career world is inevitably evolving and as a result, while many jobs are disappearing, new jobs are emerging.
            </p>
            <p>
                With the advent of the internet and Artificial Intelligence, robotics, and many other technology-driven fields, we are now on the verge of losing job opportunities in the fields ranging from Military Services and Army (where robots are replacing humans) to medicine, with robotic arms that can even perform surgeries, and big data that creates opportunities for diagnosing diseases much faster and more accurately than their human counterparts.
            </p>
            <p>
                Another side of the story is that as the urban areas are becoming larger, the distances are also becoming greater as well as the traffic immensely more intense, almost unbearable for the daily commute. These, along with the shortage in job opportunities in some fields, has given rise to a form of job, not yet known to some, called Freelancing.
            </p>
            <p>
                Freelancing is a form of work in which the person works as a self-employed and is not necessarily committed to a particular employer for a long-term. This ranges from Uber driving to online jobs which consist of a wide range of categories, from accounting to design to developing and many other categories.
            </p>
            <p>
                Now, we had that in mind that as time passes, people are becoming more inclined to working freelance and although there are existing platforms for finding freelance jobs, these platforms (websites and apps) are limiting their services, changing free services into paid ones as their popularity rises. This creates a lot of dissatisfaction around these existing platforms. In spite of their popularity, when freelancers don’t want to work in them, this is a beginning to an end.
            </p>
            <p>
                We thought, we want to help both sides (both freelancers and the employers) to find the right job opportunity or the right person to perform the job easier than any time before, without the hassles and difficulties that they are facing right now. We have a place in mind, where we, as freelancers ourselves, like and want to work in.
            </p>
            <p>
                We came up with the idea of a platform that trust, simplicity and satisfaction are its three pillars, a place where trust is built within the fabric of the platform, to ensure you have a safe and secure experience with the other side, where every user experience is diligently examined and decided to become as simple and straightforward as possible, and where your ending result is going to be nothing but satisfaction.
            </p>
            <p>
                Our vision is to make the process of job search not a burden, but interesting and to help people find the right match - to work for/give their work to - in a few simple clicks.
            </p>
            <p>
                Now, there are many intricacies in the path in front of us. So many details we need to consider and so many problems we need to solve. It’s a great challenge that we have willingly accepted and want to have you by our side on this journey.
            </p>
            <p>
                We are encouraged by your feedback, by your support and your help in making this as neat as possible. You can help us embody our idea of a perfect freelancing website and further down the road, its mobile application by giving us feedback and comments on how you want it to be.
            </p>
            <p class="justify-content-center mt-3">
                Thank You
            </p>
    </div>
</div>
