/* body{
    font-family:"b titr";
    background: red;
    margin: 0;
} */
*{
    font-family:"b homa";
    box-sizing: border-box;
}
.same{
    font-family:"b nazanin";
}
.root{
    width: 1300px;
    direction: rtl;
    height: auto;
    border-radius: 8px;
    margin: 20px;
    float: left;
    display: inline;
    margin-left: 2%;
    background: linear-gradient(to right,rgb(229, 229, 245),rgb(238, 238, 247));
}
.moreDetails{
    text-align: right!important;    text-align: right!important;
    padding: 10px 13px;
    font-size: 13px;
    float: left;
}
.MainImg{
   width: 200px;
/* border: 1px solid  red; */
    height: 200px;
}
.explanation{
    overflow-y: hidden;
    
    text-align: right;
    width: 356px;
    float: left;
    /* border:1px solid blue; */
    height: 200px;
}
.productionList{
    margin-top: 20px;
    /* border:1px solid red; */
    height: 90px;
   
    
}
.productions{
    width: 90px;
    height: 90px;
    /* border: 1px solid blueviolet; */
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
margin-bottom: 20px;
}
.productNames{
    text-align: center;
    font-family: "b nazanin";
    font-weight: bold;

    color: gray;
    margin-top: 8px;

}
.productImg{
   
    border-radius: 100%;


}
.productImg:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);

    transition: 0.3s;
}