<div class="container">

  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

  </div>

  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <div class="well">
      <button type="button" class="btn btn-primary" (click)="addNew()">جدید</button>
      <hr>


      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th style="width: 5%">ردیف</th>
            <th style="width: 25%">عنوان</th>
            <th style="width: 40%">تگ ها</th>

            <th style="width: 15%">عملیات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solutionKind of solutionKinds;let i = index">
            <td>{{i+1}}</td>
            <td>{{solutionKind.title}}</td>
            <td>{{solutionKind.tags}}</td>

            <td><a (click)="onEdit(solutionKind._id)"><span class="glyphicon  glyphicon-edit"
                  style="color: green;cursor: pointer;font-size: 18px" alt="155" title="ویرایش"> </span></a>
              <a (click)="onDelete(solutionKind._id)"><span class="glyphicon glyphicon-trash"
                  style="color: brown;cursor: pointer;font-size: 18px" title="حذف"> </span></a></td>

          </tr>
        </tbody>
      </table>
    </div>


  </div>

</div>
