<div class="container">

  <div class="row">

    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
      <div class="row">
        <div class="col-xs-12">
          <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-success" [disabled]="!customerForm.valid || !customerForm.dirty ">ذخیره</button>&nbsp;
                <!-- <button type="button" class="btn btn-danger" (click)="onCancel()">clear</button>&nbsp; -->
                <button type="button" class="btn btn-info" (click)="onBack()">انصراف</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="title">عنوان</label>
                  <input type="text" id="title" formControlName="title" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="manager">مدیر</label>
                  <input type="text" id="manager" class="form-control" formControlName="manager">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="tel">شماره تماس</label>
                  <input type="text" id="tel" class="form-control" formControlName="tel">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="email">ایمیل</label>
                  <input type="text" id="email" class="form-control" formControlName="email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="site">سایت</label>
                  <input type="text" id="site" class="form-control" formControlName="site">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="image">انتخاب عکس</label>
                    <input
                      type="file"
                      class="form-control"
                      (change)="onUpload($event.target.files)" accept='image/*'    >
                    <input type="text"    name="logo"  formControlName="logo" hidden>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <img [src]="customer.logo || imgURL"  style="width: auto;height: 300px;"  class="img-responsive" *ngIf="customer.logo || imgURL" >
                </div>
              </div>

          </form>
        </div>
      </div>
    </div>

  </div>

</div>
